<%= simple_form_for(@cocktail) do |f| %>
  <h1 class="row mb-3">Add your cocktail</h1>
  <div class="row mb-3 form-group">
    <%= f.input :name, class: 'form-control' %>
  </div>
  <div class="row mb-3 form-group">
    <%= f.input :photo, as: :file %>
  </div>
  <div>
    <%= f.submit class: 'row mb-3 btn btn-primary' %>
  </div>
<% end %>
