.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100%;
  transition: 1s all ease;
  // background: white;
  // border: 1px grey solid;
  // border-radius: 4px;
}

.navbar-lewagon-white {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



